body,html{
    margin: 0;
    padding: 0;
    background-color: beige;
}

.dados{
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color: darkgray;
}

.container{
    display: flex;
}

.graficos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 30px;
}
.graficos div{
    width: 300px;
    height: 300px;
}